- var book = { name : "Hello", price:"1234.12" };
- var array = { books:[1,2,3,4,5] }
doctype html 
html(lang="ko")
    head
        title ZARD
    body
        p Hello World!!
        #content
            .block
                input#bar.foo1.foo2(placeholder="Fuxk you")

        li
            a(href="#book-a") BOOK A

        li: a(href="#book-b") BOOK B
        h1 foo
        h2=book.name
        h3 "#{book.name}" for #{book.price} $

        p
            span foo bar
            |hello wordl

        p.
            fewfwe
            fewqf
            fwef
        li=book.name
        
        select
            each bn, i in array.books
                option(value=i) BookNumber : #{bn}
        